@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gray-200 text-[black] m-0 p-0 ;
    font-family: 'Mukta', sans-serif;
}

/* navbar */


.navbar{
    @apply bg-gray-600 py-1 text-[#edffec];
}


.animal-btns {
    @apply flex justify-around ;
}

.animal-btn:hover,
.app-title:hover{
    @apply  text-purple-600
}


/* Header */

.top-info{
    @apply flex justify-center flex-col items-center text-center;
    @apply bg-hero text-[#edffec]  bg-no-repeat bg-cover bg-center h-[30%]

}

.title{
    @apply mt-7 text-2xl 
}

.sub-title{
   @apply  mb-[1em] italic 
}

.title,
.sub-title{
    text-shadow: 0 1px 10px #4d4751, 0 0 4px #4d4751;
}

.favorites-btn{
    @apply absolute top-7 right-2 text-sm mt-0.5
}

/* Search */

.search-bars{
    @apply mb-9 bg-gray-100 flex rounded-md
}

.search-animal-container:hover,
.search-zip-container:hover,
.search-btn:hover{
    @apply border-2 border-purple-900 rounded-md
}

.search-zip-container,
.search-animal-container{
    @apply flex
}


.search-animal::placeholder,
.search-zip::placeholder{
    @apply text-gray-500
}

.search-animal,
.search-zip{
    @apply bg-gray-100 px-12 text-gray-700 border-purple-700 w-[100%];
    @apply flex my-2 
}

.search-animal{
    @apply border-r-2  border-gray-400
}

input:focus, 
textarea:focus,
select:focus{
    @apply outline-none 
}

.search-btn{
    @apply bg-gray-100 text-black px-2 my-auto mr-1.5 bg-purple-700 py-2 text-white border rounded-md;
    @apply flex justify-center align-middle
}   

.search-btn:hover,
.search0btn:focus{
    @apply scale-125 
}

/* animal list */



.animal-list{
    @apply flex flex-wrap gap-12 my-[5rem] justify-center 
}


.animal-cards{
    @apply bg-gray-200 shadow-lg shadow-[#3d355e] text-[#48435c];
    @apply  p-0 w-[230px] h-[400px] 
}

.animal-cards:hover{
    @apply cursor-pointer border-2 border-purple-800
}


.animal-img {
    @apply mx-auto h-[70%] w-full overflow-hidden relative;
    
}
  
.arrow-button{
    @apply text-2xl 
}

.animal-card-text{
    @apply text-center px-2
}

.remove-favorite{
    @apply font-bold
}

.remove-favorite:hover{
    @apply text-purple-800 
}

.arrows-container{
    @apply flex justify-around mt-3
}


/* Middle banner */

.mid-container{
    @apply  py-6 flex flex-col justify-center bg-gray-100;
    box-shadow: 0 1px 3px rgba(77,71,81,0.2);
    
}

.mid-banner{
    @apply text-center;
}

.mid-title{
    @apply text-2xl text-center
}

.mid-titles{
    @apply text-xl font-bold mb-4 text-[#004c81;]
}

.mid-text{
    @apply  text-lg 
}

.mid-btns {
    @apply border-2 mt-6 rounded-3xl py-1 px-6 border-solid border-[#20ccf8];
}

.mid-btns:hover{
    @apply bg-[#20ccf8]
}

.footer{
    @apply  bg-purple-800 text-center text-[#edffec] py-3  bottom-0 
}

.adopt-btns:hover{
    @apply bg-[#370c52] text-white border-none
}

/* Media */

@media(max-width: 680px){
    .animal-cards{
        @apply w-[200px]
    }

    .animal-card-text{
        @apply text-sm
    }

    .search-animal,
    .search-zip{
        @apply w-56
    }

    .animal-details{
        @apply w-[90%] mx-auto
    }

    .animal-cards{
        @apply h-[350px]
    }


}

@media (max-width: 600px) {
    .animal-btns {
      @apply hidden
    }
    
    .animal-btns.open{
        @apply block text-xs 
    }

    .menu-icon{
        
    }

    .navbar-icon {
      @apply block
    }
    .navbar-icon{
        @apply flex justify-end w-[30px] h-[5px] my-[3px] mr-3 bg-gray-900;
        @apply cursor-pointer 
    
    }

    .navbar{
        @apply flex justify-between h-9
    }

    .menu-icon{
        @apply absolute right-0;
    }

    ul{
        @apply mt-7 mr-1 z-50
    }

    li{
        @apply bg-transparent bg-gray-700 p-1.5 z-auto;
        
    }

    .app-title{
        @apply ml-3 my-auto
    }
    
    .hide-on-mobile{
        @apply hidden
    }

    .animal-btn{
        
    }
    
  }

@media (min-width: 600px){
    .app-title{
        @apply hidden
    }
}

@media(max-width: 485px){
    .animal-cards{
        @apply gap-0 w-[180px] ml-[-10px] mr-[-10px]
    }

    .anima-list{
        @apply gap-0
    }

    .search-bars{
        @apply h-10
    }

    .search-animal,
    .search-zip{
        @apply w-40 text-xs
    }

    .title{
        @apply text-lg text-center
    }

    .sub-title{
        @apply text-sm
    }

    .prev-image,
    .next-image{
        @apply hidden
    }

    .current-image{
        @apply w-screen
    }

    .animal-text{
        @apply text-xs
    }

}

@media(max-width: 360px){
    .search-zip{
        @apply w-[140px] 
    }

    .search-animal{
        @apply w-[150px]
    }
}

@media(max-width: 400px){
    .animal-cards{
        @apply w-[140px]
    }

    .animal-card-text{
        @apply text-xs
    }

    .mid-container{
        @apply w-[100%]
    }

    .mid-text{
        @apply w-[80%] mx-auto
    }

    .search-btn{
        @apply w-8 
    }

    .adoption-details{
        @apply w-[90%] mx-auto
    }

    .animal-cards{
        @apply h-[270px]
    }

    .animal-img{
        @apply h-[70%]
    }


}

@media(max-width: 850px){
    .mid-container{
        @apply mx-[170px]
    }
}

@media(max-width: 768px){
    .mid-container{
        @apply mx-0
    }
}

@media(min-width: 768px){
    .mid-container{
        @apply text-center flex flex-row border-none ;
        box-shadow: none;
    }
    .mid-banner{
        @apply text-center mx-[5%] 
    }
    .mid-btns{
        @apply  w-40 
    }
    .row-container{
        @apply   pt-5 bg-gray-100;
        box-shadow: 0 1px 3px rgba(77,71,81,0.2);
    }

    .mid-text{
        @apply text-sm w-56 
    }

}




